.recipe-list {
  background-color: var(--lightColor);
  min-height: 600px;
}

.navbar {
  background-color: var(--primaryColor);
}

#logo {
  width: 200px;
}

.separator {
  background-color: #343a40;
  width: 0.1875rem;
  margin-top: 0.3125rem;
  border-radius: 0.625rem;
}

.heading-icon,
.heading-text {
  margin-top: 40px;
  font-size: 2.25rem;
}

.heading-icon {
  margin-right: 10px;
  color: var(--secondaryColor);
}

.hero {
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/hero-img.jpg");
  background-size: cover;
}

.hero__search {
  color: white;
}

.hero__search h2 {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}

.hero__search a {
  color: #f6f7f6;
  text-decoration: none;
}

.input-group {
  margin-bottom: 10px;
}

.fe-shadow {
  border: 2px solid #343a40;
  box-shadow: 0 6px 0 0 #343a40;
  -webkit-box-shadow: 0 6 0 0 #343a40;
  -moz-box-shadow: 0 6px 0 0 #343a40;
}

.btn {
  background-color: var(--lightColor);
  border: 2px solid #343a40;
  border-radius: 5px;
  box-shadow: 0 6px 0 0 #343a40;
  -webkit-box-shadow: 0 6 0 0 #343a40;
  -moz-box-shadow: 0 6px 0 0 #343a40;
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-search {
  background-color: var(--secondaryColor);
}

.btn-edit {
  background-color: #d9f0cb;
}

.btn-post {
  background-color: #ffeaad;
}

.btn-login {
  background-color: #febd2f;
  font-weight: bold;
}

.btn-login > i {
  margin-right: 0.3125rem;
}

.fe-container {
  flex-wrap: wrap;
}

.fe-card {
  max-width: 230px;
  height: 340px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.fe-card-img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.fe-card:hover {
  transition: all 100ms ease-in-out;
  transform: scale(1.05);
  background-color: var(--lightColor);
}

.fe-content {
  display: flex;
  flex-direction: column;
  min-height: 40%;
}

.fe-tag {
  color: var(--secondaryColor);
  margin-top: 4px;
}

.fe-card-title {
  font-size: 26px;
  /* min-height: 65px; */
  flex: 1;
  line-height: 1.02;
}

.fe-card-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fe-timer > :first-child {
  margin-right: 7px;
}

.fa-star:hover {
  background-color: lightcoral;
}
