@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");

:root {
  --primaryColor: #b3e099;
  --secondaryColor: #d14334;
  --lightColor: #f6f7f6;
  --darkColor: #343a40;
  --btnEdit: #d9f0cb;
  --btnPost: #ffeaad;
  --btnLogin: #febd2f;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tamma 2", cursive;
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jc-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.jc-end {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  gap: 20px;
}
